./src/
./test/
./vscode/
./github/
./dist/test

.editorconfig
.gitattributes
.gitignore
.travis.yml
tslint.json
tsconfig.json
tsconfig.production.json
yarn-error.log
.nyc_output
coverage
.package-lock.json
.yarn-lock

